<div class="container">
	<form role="form">
		<legend>Link Generator</legend>

		<div class="form-group">
			<label for="link">Your link goes here</label>
			<input type="text" class="form-control" id="link" placeholder="Your Link" ng-model="home.makeItShort">
		</div>

		<button class="btn btn-primary" ng-click="home.sendUrl()">Generate</button>
	</form>
	<hr>
	<div class="alert alert-warning" ng-if="home.link">
		<a href="/{{ home.result }}" target="_blank" ng-click="">{{ home.link }}</a>
		<button ng-click="home.goToLink()">{{ home.link }}</button>
	</div>
</div>