<div class="container" ng-repeat="genLink in allGenerated.allLinks">
	<div class="alert">
		<button type="button" class="close" ng-click="allGenerated.deleteLinkById(genLink.shortURL, $index)"><span aria-hidden="true">&times;</span></button>
		<br>
		<div class="alert alert-info" role="alert">
			<span>Main Link: </span>{{ genLink.mainURL}}
		</div>
		<div class="alert alert-success" role="alert">
			<span>Generated Link: </span>{{ genLink.shortURL}}
		</div>
	</div>
	<br>
</div>